.gradle/
build/
app/build/
app/.cxx/
local.properties

*.apk
*.apks
*.aab

app/src/main/assets/
assets/
original.apk
WXB-unsigned.apk
WXB-patched-unsigned.apk
WXB-patched-aligned.apk

wxb/
apktool.yml

*.log
